.banner-content{
    padding-left:3rem;
    padding-top:350px;
    width: 45rem;
}

.banner-content h2{
    font-size: 4rem;
    color: orangered;
}
    
.banner-content h2{
    font-size: 1 rem;
    padding-top: 1rem;
}
    